---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Astro Components: Blog Cards">
	<section class="wrapper">
		<h1>Astro Components: Blog Cards</h1>
	</section>
</BaseLayout>