---

---
<div class="card">
    <!-- img -->
    {Astro.slots.has("img") && (
        <div class="card__img">
            <slot name="img"/>
        </div>
    )}

    <!-- content -->
    <div class="card__content flow">
        <slot name="badge"/>
        {Astro.slots.has("title") && (
            <div class="card__title">
                <slot name="title" />
            </div>
        )}
        <slot />
    </div>
</div>



<style is:global lang="scss">
    .card{
        border-radius: var(--bdr-radius);
        background-color: var(--clr-white);
    }

    .card__content{
        --_padding: 2rem;
        padding: var(--_padding);
        color: var(--clr-text-dark);
    }

    .card__title, .card__title > *{
        --_flow-spacer: 0.5rem;
        font-size: var(--fs-500);
    }
</style>